@import "tailwindcss";
/* import fontface from google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@theme {
  --font-space-mono: "Space Mono", monospace;

  --color-primary: hsl(172, 67%, 45%);
  --color-neutral-v-d-cyan: hsl(183, 100%, 15%);
  --color-neutral-d-g-cyan: hsl(186, 14%, 43%);
  --color-neutral-g-cyan: hsl(184, 14%, 56%);
  --color-neutral-l-cyan: hsl(185, 41%, 84%);
  --color-neutral-v-l-cyan: hsl(189, 41%, 97%);
  --color-white: hsl(0, 0%, 100%);
}

@layer base {
  body {
    @apply font-space-mono bg-neutral-l-cyan flex min-h-screen flex-col items-center justify-center pt-12 md:pt-0;
  }
}
